<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, merchant_dashboard_path %></h1>
  <% if current_merchant? || current_employee? %>
    <%= link_to 'New Item', new_item_path %>
  <% elsif current_admin? %>
    <%= link_to 'New Item', admin_new_item_path(@merchant) %>
  <% end %>
<% else %>
  <div class="jumbotron jumbotron-fluid">
      <h2 class="deepshd"> ITEMS</h2>
  </div>
<% end %>

<%= render 'items' %>
